$boxPaddingBoth: 20px;


.x-box {
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(239, 242, 247, 1);
    font-size: 14px;
}

.x-box-header {
    color: #444;
    display: block;
    padding: 10px $boxPaddingBoth;
    position: relative;
    border-bottom: 1px solid #EAEAEA;
    font-weight: bold;
}

.x-box-body {
    padding: 20px $boxPaddingBoth;
    position: relative;
}

.x-box-footer {
    border-top: 1px solid #EAEAEA;
    padding: 10px $boxPaddingBoth;
    position: relative;
}
