.x-box {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(239, 242, 247, 1);
}

.x-box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    font-size: 16px;
    border-bottom: 1px solid #f4f4f4;
}

.x-box-body {
    padding: 10px;
    position: relative;
}

.x-box-footer {
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    position: relative;
}

.x-box-footer-left {
    @include boxFooterBtnAlignLeft;
}

.x-box-footer-right {
    @include boxFooterBtnAlignRight;
}

.x-box-footer-center {
    @include boxFooterBtnAlignCenter;
}
