@mixin boxFooterBtnAlignLeft() {
    text-align: left;
    > .x-btn, > .x-btn-group {
        margin-right: 10px;
        margin-bottom: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

@mixin boxFooterBtnAlignRight() {
    text-align: right;
    > .x-btn, > .x-btn-group {
        margin-left: 10px;
        margin-bottom: 10px;

        &:first-child {
            margin-left: 0;
        }
    }
}

@mixin boxFooterBtnAlignCenter() {
    text-align: center;
    > .x-btn, > .x-btn-group {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}
