@mixin boxFooterBtnAlignLeft() {
    text-align: left;
    >.x-btn {
        margin-right: 10px;
    }
}

@mixin boxFooterBtnAlignRight() {
    text-align: right;
    >.x-btn {
        margin-left: 10px;
    }
}

@mixin boxFooterBtnAlignCenter() {
    text-align: center;
    >.x-btn {
        margin-left: 5px;
        margin-right: 5px;
    }
}
