.x-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99998;
    overflow-y: auto;
    font-size: 14px;
}

.x-modal-confirm {
    z-index: 999998;
}

.x-modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .2s;
}

.x-modal-content {
    color: $input-font-color;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    left: 50%;
    top: 80px;
    transform: translate(-50%);
    opacity: 0;
    transition: all .4s;
    margin-bottom: 100px;

    .border {
        padding: 20px;
        border-bottom: .5px solid #E3E6F0;
        border-top: .5px solid #E3E6F0;
    }
}

.x-modal-content.x-modal-sm {
    width: 400px;
}

.x-modal-content.x-modal-md {
    width: 640px;
}

.x-modal-content.x-modal-lg {
    width: 1100px;
}

.x-modal-header {
    position: relative;
    display: flex;
    padding: 19px 30px 17px;
    color: #484852;
    font-weight: bold;
    border-bottom: 1px solid #F3F3F3;
    box-sizing: border-box;
    align-items: center;

    .title {
        font-size: 16px;
        line-height: 20px;
        flex: 1;
        width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .x-modal-close {
        flex: none;
    }
}

.x-modal-body {
    padding: 15px 30px;
    font-size: 14px;
}

.x-modal-footer {
    padding: 16px 30px;
    border-top: 1px solid #F3F3F3;
}

.x-modal-footer-left {
    @include boxFooterBtnAlignLeft;
}

.x-modal-footer-right {
    @include boxFooterBtnAlignRight;
}

.x-modal-footer-center {
    @include boxFooterBtnAlignCenter;
}


.x-modal-confirm .x-modal-body {
    padding: 53px 30px;
}

//动画
.x-modal-fade {
    .x-modal-bg {
        opacity: 1;
    }

    .x-modal-content {
        opacity: 1;
        top: 100px;
    }
}

@media screen and (max-width: 980px) {
    .x-modal-content {
        width: auto !important;
        left: 20px;
        right: 20px;
        transform: translate(0, 0);
    }
}

@media screen and (max-width: 1200px) {
    .x-modal-content.x-modal-sg {
        width: auto !important;
        left: 20px;
        right: 20px;
        transform: translate(0, 0);
    }
}
