.x-select  {

    .x-select__control {
        font-size: 14px;
        border: 1px solid $input-border-color;
        color: $input-font-color;
        border-radius: 2px;
        box-sizing: border-box;
        transition: border-color .2s;
        cursor: pointer;
        min-height: 34px !important;
        &:hover {
            border-color: $input-border-color !important;
        }
    }
    .x-select__control--is-focused {
        box-shadow: none !important;
    }
    .x-select__control--menu-is-open {
        border-color: $input-active-border-color !important;
    }
    .x-select__menu {
        margin-top: 2px !important;
    }
    .x-select__indicator-separator {
        display: none;
    }
    .x-select__indicator {
        padding: 6px !important;
    }
    .x-select__placeholder {
        cursor: text;
    }
}

.x-select--is-disabled {
    cursor: not-allowed;
}
