.x {

    &-select {
        font-size: 14px;
    }

    &-dropdown {
        position: relative;
        display: inline-block;
        min-width: 200px;
        font-size: 14px;
    }

    &-select-multi &-select__value-container {
    }

    &-placeholder {
        color: $input-placeholder-color !important;
    }

    &-select-target {
        position: relative;
        box-sizing: border-box;
        border: 1px solid $input-border-color;
        background-color: #fff;
        height: 34px;
        line-height: 34px;
        padding: 0 24px 0 12px;
        border-radius: 2px;
        color: $input-font-color;
        cursor: pointer;
        transition: all 0.2s;

        &::after {
            position: absolute;
            top: 50%;
            right: 8px;
            content: '';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid #c7cbd8;
            transform: translate(0, -3px);
            transform-origin: center center;
        }

        &-focus {
            border-color: $input-active-border-color;

            &::after {
                transform: translate(0, -3px) rotate(180deg);
            }
        }
    }

    &-select-main {
        position: absolute !important;
        margin-top: 1px;
        z-index: 2;
        width: 100%;
        background-color: #fff;
    }

    &-select__menu-list {
        &::-webkit-scrollbar {
            width: 5px;
            height: 1px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: $input-active-border-color;
        }

        &::-webkit-scrollbar-track {
            border-radius: 5px;
            background: #EDEDED;
        }
    }

    &-select__menu {
        border-radius: 2px !important;
        border: 1px solid $input-border-color;
        box-shadow: none !important;
    }

    &-select__option {
        color: $input-font-color !important;
        transition: all 100ms;
        cursor: pointer !important;
        padding: 7.5px 12px !important;
        word-wrap: break-word;
    }

    &-select__option--is-selected {
        color: #3E257A !important;
        font-weight: bold;
        background-color: transparent !important;
    }

    &-select__option--is-focused {
        background-color: #F0F1F9 !important;
    }

    &-select__option--is-disabled {
        opacity: 0.5;
        cursor: not-allowed !important;
        background-color: transparent !important;
    }

    &-select__control {
        border-color: $input-border-color !important;
        color: $input-font-color;
        border-radius: 2px !important;
        cursor: pointer !important;
        min-height: 34px !important;

        &:hover {
            border-color: $input-border-color !important;
        }
    }

    &-select__control--is-focused {
        box-shadow: none !important;
    }

    &-select__control--menu-is-open {
        border-color: $input-active-border-color !important;

        &:hover {
            border-color: $input-active-border-color !important;
        }
    }

    &-select__menu {
        margin-top: 2px !important;
    }

    &-select__indicator-separator {
        display: none;
    }

    &-select__indicator {
        padding: 6px !important;
    }

    &-select__placeholder {
        cursor: text;
        color: $input-placeholder-color !important;
    }

    &-select-search {
        .x-select__dropdown-indicator {
            display: none;
        }
        .x-select__control {
            cursor: text !important;
        }
        .x-select__indicators {
            cursor: pointer !important;
        }
    }

    &-select-no-border {
        .x-select__control {
            border-color: transparent !important;
        }
        .x-select__menu {
            border-color: transparent !important;
        }
        .x-select__single-value {
            color: #3E257A !important;
            font-weight: 500;
        }
    }
}

.x-select__option--is-focused.x-select__option--is-selected {
    background-color: transparent !important;
}

.x-select-sm {
    .x-select__control {
        min-height: 30px !important;
    }

    .x-select__indicator {
        padding: 4px !important;
    }

    .x-select__option {
        padding: 5.5px 12px !important;
    }
}

.x-select--is-disabled {
    cursor: not-allowed;
}
