@import "~element-theme-default/lib/time-picker.css";
@import "~element-theme-default/lib/time-select.css";

.el-time-panel {
    margin-top: 1px;
    box-sizing: border-box;

    .el-time-panel__content::after,
    .el-time-panel__content::before {
        margin-top: -20px;
        background-color: transparent;
        content: '';
        border-top: 1px solid #EFEFEF;
        border-bottom: 1px solid #EFEFEF;
    }

    .el-time-spinner__item.active:not(.disabled) {
        color: #000;
    }

    .el-time-spinner__item:hover:not(.disabled):not(.active) {
        background: #F0F1F9;
    }

    .el-time-panel__btn.confirm {
        color: #2A1166;
    }
}

.el-date-editor {
    .el-input__inner:focus {
        border-color: #645a82;
    }

    .el-input__inner {
        height: 34px;
        border-radius: 2px;
    }

    &.is-active.is-filled {
        .el-icon-time, .el-icon-close {
            font: normal normal normal 14px/1 FontAwesome;

            &:before {
                content: "\f057";
            }
        }
    }
}

.el-input__icon {
    top: 2px;
}

.el-input__inner {
    border-color: $input-border-color;
}

.el-picker-panel {
    box-shadow: none;
}

.el-picker-panel.time-select {
    margin-top: 1px;
    box-sizing: border-box;

    .time-select-item {
        padding: 7px 10px;
    }

    .time-select-item.selected:not(.disabled) {
        background-color: $theme-color;
    }
}
