.x-toggle {
    position: relative;
    display: inline-block;;
}

.x-toggle-menu {
    position: absolute;
    background-color: #fff;
    display: none;
}

.x-toggle-menu-show {
    display: block;
}
