@import '../../style/variable.scss';

.x-radio{
    display: inline-block;
    // white-space: nowrap;
    .x-radio-li{
        padding: 0.2rem 0;
        width:1.2rem;
        text-align: center;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        i{
            margin-right: 6px;
        }
    }
    .active-radio{
        color: $input-active-border-color;
    }
    .x-selected-img{
        // position: relative;
        width: 0.16rem;
        height: 0.16rem;
        margin-right: 5px;
        display: inline-flex;
        &::before{
            position: absolute;
        }
    }
    .radio-disable{
        cursor: not-allowed!important;
        color: #d9d9d9;
    }
}
