@import '../../style/variable.scss';

.x-input {
    position: relative;
    display: inline-block;
    font-size: 14px;
    height: 34px;
    line-height: 1.432;
    background-color: #fff;
    border: 1px solid $input-border-color;
    color: $input-font-color;
    border-radius: 2px;
    box-sizing: border-box;
    transition: border-color .2s;
    outline: none;
    padding: 8px 10px;

    &.x-input-error {
        border-color: $input-error-border-color;

        &:focus {
            border-color: $input-error-border-color;
        }
    }

    &::-webkit-input-placeholder {
        color: $input-placeholder-color;
    }

    &:disabled {
        background-color: $input-disabled-bg-color;
        color: $input-disabled-font-color;
        cursor: not-allowed;
    }

    &:disabled + .clear-btn {
        display: none;
    }

    &:focus {
        border-color: $input-active-border-color;
    }
}

.x-textarea {
    min-height: 100px;
    height: auto;
    resize: vertical;
    font-family: inherit;
}

.x-input-group {
    position: relative;
    display: inline-flex;
    font-size: 14px;

    .x-input {
        flex: 1;
    }

    .group-addon-right .x-btn {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: none;
        padding: 9px 10px;

        .fa {
            margin-right: 0;
        }
    }

    .clear-btn {
        position: absolute;
        opacity: 0;
        transition: opacity 0.1s;
        top: 50%;
        margin-top: -6px;
        right: 10px;
        height: 12px;
        line-height: 12px;
        cursor: text;
        color: rgba(145, 143, 151, 1);

        &.show {
            cursor: pointer;
            opacity: 1;
        }
    }
}

.x-input-group-addon {
    .x-input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .x-btn {
        border-color: $input-border-color;
    }
}