@import '../../style/variable.scss';

.x-input {
    position: relative;
    display: inline-block;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid $input-border-color;
    color: $input-font-color;
    border-radius: 2px;
    box-sizing: border-box;
    transition: all .2s;
    outline: none;
    padding: 8px 10px;

    &::-webkit-input-placeholder {
        color: $input-placeholder-color;
    }

    &:disabled {
        background-color: $input-disabled-bg-color;
        color: $input-disabled-font-color;
        cursor: not-allowed;
    }

    &:focus {
        border-color: $input-active-border-color;
    }
}

.x-input-group {
    position: relative;
    display: inline-flex;
    font-size: 14px;

    .x-input {
        flex: 1;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .group-addon-right .x-btn {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .clear-btn {
        position: absolute;
        top: 50%;
        margin-top: -6px;
        right: 10px;
        height: 12px;
        line-height: 12px;
        cursor: pointer;
        color: rgba(145, 143, 151, 1);
    }
}