@import '../../style/variable.scss';
.x-tabs-content{
    overflow:hidden;
    max-width: 6rem;
    .x-tabs{
        display: inline-block;
        white-space: nowrap;
        border-bottom: 1px solid $theme-border;
        position: relative;
        left:0;
        transition: left 0.5s;
        .x-tab-li{
            padding: 0.2rem 0;
            width:1.2rem;
            text-align: center;
            cursor: pointer;
            display: inline-block;
            transition: border-bottom 0.5s;
            border-bottom: 2px solid rgba($color: $theme-border, $alpha: 0);
        }
        .active-tab{
            color: $theme-active;
            border-bottom: 2px solid rgba($color: $theme-active, $alpha: 1);
        }
        .tab-disable{
            cursor: not-allowed;
            color: $theme-border;
        }
    }
}

.x-tabs-content-i18n{
    overflow:hidden;
    max-width: 6rem;
    .x-tabs{
        display: inline-block;
        white-space: nowrap;
        border-bottom: 1px solid $theme-border;
        position: relative;
        right:0;
        transition: right 0.5s;
        .x-tab-li{
            padding: 0.2rem 0;
            width:1.2rem;
            text-align: center;
            cursor: pointer;
            display: inline-block;
            transition: border-bottom 0.5s;
            border-bottom: 2px solid rgba($color: $theme-border, $alpha: 0);
        }
        .active-tab{
            color: $theme-active;
            border-bottom: 2px solid rgba($color: $theme-active, $alpha: 1);
        }
        .tab-disable{
            cursor: not-allowed;
            color: $theme-border;
        }
    }
}
