/**
 * Created by Rayr Lee on 2019-06-25.
 */

.app-sider {
    background-color: #fff;
}

.app-sider-menu {
    padding: 0 40px;

    li {
        padding: 10px 0;
        font-size: 14px;

        a {
            color: #666;
        }

        &:hover {
            a {
                color: #007AFF;
            }
        }
    }

    .header {
        color: #000;
        font-weight: bold;
    }

    li.active {
        font-weight: bold;
        color: #007AFF;

        a {
            color: #007AFF;
        }
    }
}

.app-header {
    background-color: #fff;
    display: flex;

    .logo {
        width: 230px;
        background: url("../assets/logo.png") 40px center no-repeat;
        background-size: 119px 28px;
    }

    .nav {
        display: flex;

        li {
            cursor: pointer;
            transition: color 0.5s;

            &:hover {
                color: #007AFF;
            }

            a {
                display: block;
                box-sizing: border-box;
                line-height: 48px;
                color: #003C79;
                padding: 0 40px;
            }
        }

        li.active {
            a {
                color: #007AFF;
                border-bottom: 3px solid #007AFF;
            }
        }
    }
}

.app-content {
    padding: 15px;
}
