@import '../../style/variable.scss';
.x-select{
    // width: 10rem;
    width: 100%;
    position: relative;
    display: inline-flex;
    border: 1px solid $input-border-color;
    border-radius: 4px;
    // padding-right: 1px;
    line-height: 1.5rem;
    // min-height: 1.6rem;
    flex-direction: column;
    transition: border 0.5s;
    .x-select-title{
        height: 100%;
        flex:1;
        outline: none;
        cursor: pointer;
        border: 0;
        border-radius: 4px;
        margin: 0;
        padding: 0;
        padding-left: 0.5rem;
        padding-right: 0.75rem;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        font-size: 0.7rem;
        user-select: none;
        
    }
    .x-select-title-multiple{
        cursor: default;
        white-space: normal;
        padding-top:3px;
        flex-direction: column;
        .x-select-item-multiple{
            background-color: #fafafa;
            border:1px solid $input-border-color;
            margin-right: 5px;
            max-width: 7.5rem;
            // padding: 2px;
            border-radius: 2px;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            position: relative;
            top:1px;
            padding-right: 20px;
            display: inline-block;
            height: 1rem;
            line-height: 1rem;
            padding-left: 0.6rem;
            padding-right: 1rem;
            i{
                cursor: pointer;
                position: absolute;
                right: 2px;
                transform: scale(0.6);
                color: $input-disabled-font-color
            }

        }
        
    }
    .x-select-disabled{
        cursor: not-allowed;
        background-color: $input-disabled-bg-color;
    }
    .x-select-ul{
        position: absolute;
        margin-top: 1.6rem;
        border: 1px solid $input-border-color;
        border-radius: 4px;
        background-color: #fff;
        width: 100%;
        box-sizing: border-box;
        max-height: 0rem;
        overflow-y: scroll;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.5s,max-height 0.5s;
        .x-select-li{
            height: 1.5rem;
            line-height: 1.5rem;
            cursor: pointer;
            padding: 0 0.5rem;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            &:hover{
                background-color: rgba($color: $input-active-border-color, $alpha: 0.1);
                // color: $input-active-border-color
            }
        }
        .x-select-li-true{
            font-weight: 400;
            background-color: rgba($color: $input-disabled-bg-color, $alpha: 1);
        }
        .x-select-li-disable{
            cursor: not-allowed;
            pointer-events: none;
        }


        //size
        &-lg{
            margin-top: 1.6rem;
            .x-select-li{
                height: 1.5rem;
                line-height: 1.5rem;
            }
        }
        &-md{
            margin-top: 1.6rem;
            .x-select-li{
                height: 1.2rem;
                line-height: 1.2rem;
            }
        }
    }
    // .x-select-ul-show{
    //     visibility: visible;
    //     animation: ulactive 0.5s;
    //     @keyframes ulactive
    //     {
    //         from {opacity: 0;}
    //         to {opacity: 1;}
    //     }

    // }
    .xicon-angle-left,.xicon-angle-right{
        position: absolute;
        margin-right: 0.75rem;
        right: 0rem;
        top:50%;
        transform: translate(50%,-50%) rotate(-90deg);
        cursor: pointer;
        transition: transform 0.5s;
    }
    &-clicked{
        border: 1px solid $input-active-border-color;
        .x-select-ul{
            opacity: 1;
            max-height: 7.5rem;

            //size

            &-lg{
                max-height: 7.5rem;
            }
            &-md{
                max-height: 6rem
            }
        }
        .xicon-angle-left,.xicon-angle-right{
            transform: translate(50%,-50%) rotate(90deg);
        }
    }
    &-clicked-multiple{
        flex-direction: column;
        line-height: unset;
        justify-content: center;
        min-height: 1.5rem;
        .x-select-ul{
            margin-top: 0.1rem;
        }
    }
    &-content-height{
        height: 1.6rem;
        box-sizing: border-box;
    }


    //size
    &-lg{
        height: 1.6rem;
        line-height: 1.5rem;
    }
    &-md{
        height: 1.3rem;
        line-height: 1.2rem;
    }
}
