@import '../../../style/variable.scss';
.box-content{
    width:100%;
    display: flex;
    justify-content: space-between;
    .content-header{
        &>button{
            margin-right: 0.1rem;
            margin-bottom: 0.1rem;
        }
    }
}
.box-left,.box-right{
    width: 48%;
}
.toggle{
    .box-content{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .box-left,.box-right{
            width: 48%;
        }
    }
    .xicon-angle-right{
        transform: rotate(90deg);
        display: inline-block;
    }
    .a-link{
        color: $input-active-border-color;
    }
    .menu{
        padding: .1rem 0;
        li{
            padding: .05rem .2rem;
            &:hover{
                cursor: pointer;
                background-color: rgba($color: $input-active-border-color, $alpha: 0.1);
            }
        }
    }
    .btn1 .x-btn,
    .btn2 .x-btn{
        margin: .05rem;
    }
}