@import 'iconfont/iconfont.css';
@import '../components/button/index.scss';
@import '../components/input/index.scss';
@import '../components/radio/index.scss';
@import '../components/checkbox/index.scss';
@import '../components/header/index.scss';
@import '../components/layout/index.scss';
@import '../components/sidebar/index.scss';

@import '../components/box/index.scss';
@import '../components/grid/index.scss';
@import '../components/menu/index.scss';
@import '../components/toast/index.scss';
@import '../components/tooltip/index.scss';
@import '../components/select/index.scss';
@import '../components/pagination/index.scss';
@import '../components/loading/index.scss';
@import '../components/table/index.scss';
@import '../components/tabs/index.scss';
@import '../components/upload/index.scss';
@import '../components/image-view/index.scss';
@import '../components/modal/index.scss';
@import '../components/toggle/index.scss';

