$theme-color: #2a1166;

//输入框配色
$input-font-color: #484852;
$input-border-color: #D0D2DA;
$input-active-border-color: #645A82;
$input-disabled-font-color: rgba(72, 72, 82, 0.3);
$input-disabled-bg-color: #F4F4F6;
$input-placeholder-color: #B0B2B8;
//按钮配色