@import '../../style/variable.scss';

.x-checkbox {
    display: inline-flex;

    .item {
        display: inline-flex;
        cursor: pointer;
        margin-right: 10px;

        &:hover {
            .icon {
                border-color: #2A1166;
            }

            .name {
                color: #2A1166;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }

    .icon {
        display: block;
        width: 14px;
        height: 14px;
        border: 1px solid #D0D2DA;
        border-radius: 2px;
        transition: 0.2s all;
    }

    .name {
        color: $input-font-color;
        font-size: 14px;
        line-height: 14px;
        margin-left: 6px;
    }

    .selected {
        .icon {
            position: relative;
            border-color: #2A1166;
            background-color: #2A1166;
        }

        .fa {
            position: absolute;
            left: 0;
            top: -1px;
            color: #fff;
            font-size: 12px;
            height: 14px;
            width: 14px;
            line-height: 14px;
        }
    }

    .disabled {
        cursor: not-allowed;
        opacity: 0.65;
    }

    .disabled.item {
        &:hover {
            .icon {
                border-color: #D0D2DA;
            }

            .name {
                color: $input-font-color;
            }
        }
    }

    .disabled.item.selected {
        &:hover {
            .icon {
                border-color: #2A1166;
            }
        }
    }
}
