@import '../../style/variable.scss';

.x-checkbox{
    display: inline-block;
    white-space: nowrap;
    .x-checkbox-li{
        padding: 1rem 0;
        width: 6rem;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        i{
            margin-right: 6px;
        }
    }
    .active-checkbox{
        color: $input-active-border-color;
        // border-bottom: 2px solid $input-active-border-color;
    }
    .checkbox-disable{
        cursor: not-allowed;
        color: $input-border-color;
    }
}
