@import '../../style/variable.scss';
.x-toggle {
    position: relative;
    display: inline-block;
    &.open{
        .x-toggle-box{
            display: block;
        }
    }
}

.x-toggle-top{
    cursor: pointer;
}

.x-toggle-box {
    position: absolute;
    display: none;
    z-index: 9999;
    // margin-top: 5px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0px rgba(0,0,0,0.15);
    &.bottomLeft{
        top: 100%;
        left: 0;
    }
    &.bottomRight{
        top: 100%;
        right: 0;
    }
    &.topRight{
        bottom: 100%;
        right: 0;
    }
    &.topLeft{
        bottom: 100%;
        left: 0;
    }
    &.bottomCenter{
        left: 50%;
        transform: translate(-50%);
    }
    &.topCenter{
        left: 50%;
        bottom: 100%;
        transform: translate(-50%);
    }
}

